[Unit]
Description=The spark component in persona for offline data processing

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -jar /opt/persona/persona-core-offline.jar

[Install]
WantedBy=multi-user.target
