[Unit]
Description=The web backend in persona provides api

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -jar /opt/persona/persona-backend.jar

[Install]
WantedBy=multi-user.target
